<div class="as-search-wrapper" role="main">
  <div class="as-navtuck-wrapper">
    <div class="as-l-fullwidth  as-navtuck" data-events="event52">
      <div>
        <div class="pd-billboard pd-category-header">
          <div class="pd-l-plate-scale">
            <div class="pd-billboard-background">
              <img src="{{storeUrl}}/assets/music-audio-alp-201709" alt="" width="1440" height="320"
                data-scale-params-2="wid=2880&amp;hei=640&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1503948581306"
                class="pd-billboard-hero ir">
            </div>
            <div class="pd-billboard-info">
              <h1 class="pd-billboard-header pd-util-compact-small-18">Tienda e-commerce</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="as-search-results as-filter-open as-category-landing as-desktop" id="as-search-results">

    <div id="accessories-tab" class="as-accessories-details">
      <div class="as-accessories" id="as-accessories">
        <div class="as-accessories-header">
          <div class="as-search-results-count">
            <span class="as-search-results-value"></span>
          </div>
        </div>
        <div class="as-searchnav-placeholder" style="height: 77px;">
          <div class="row as-search-navbar" id="as-search-navbar" style="width: 100%">
            <div class="as-accessories-filter-tile column large-12 small-6">
              <h2 class="as-filter-button-text" style="width: 100%;text-align:center">
                El pago fue exitoso.
              </h2>
              <h2 class="as-filter-button-text"></h2>
              <span class="material-icons-round"
                style="font-size:50px;color:rgb(53, 167, 72);width:100%;text-align:center">check_circle</span>
              </h2>
            </div>
          </div>
          <div style="padding-left: 3%;">
            <span>
              <h3>ID Pago:</h3>{{mpPaymentID}}
            </span>
            <span>
              <h3>Metodo de Pago:</h3>{{mpPaymentMethod}}
            </span>
            <span>
              <h3>Referencia externa:</h3>{{mpExternalReference}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="as-searchnav-placeholder" style="height: 77px">
      <div class="row as-search-navbar" id="as-search-navbar" style="width: 100%">
        <div class="as-accessories-filter-tile column large-12 small-6"
          style="width: 100%;text-align:center;margin-top:200px">
          <a class="button" href="{{storeUrl}}">Volver a la tienda</a>
        </div>
      </div>
    </div>
  </div>
</div>